main div {
    display: inline;
}


main {
    text-align: center;
}
main{
    margin-top: 10%;
    margin-bottom: 10%
}
main div input{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #4CAF50;
    background-color: white; 
    border: 2px solid #4CAF50;
    border-radius: 5px;
    margin: 1%;
}
.buttonPostCreateAcccount {
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    background-color: #4CAF50; 
    color: white;


}
.buttonPostCreateAcccount:hover {
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    background-color: #388E3C; 
    border-color: #388E3C;
}
